 /* .App{
  display: flex;
flex-wrap: wrap;
justify-content: flex-start;

} */
.Card-wrapper{
width:50%;
display:inline-block;
}


/* .Img-container{
margin:0 auto;




} */

.Img{
object-fit:contain;
width:300px;
border-radius:15px;

}
